<h1 *ngIf="isLogged">Hola, {{name}}</h1>
<h1 *ngIf="!isLogged">Bienvenido a Fila Remota</h1>

<div id="center">
    <table width="80%">
        <tr>
            <td>
            
                    <mat-form-field class="example-form-field">
                        <mat-label>Buscar</mat-label>

                        <br>

                        <mat-chip-listbox>
                            <mat-chip-option color="accent" (click)="change(false, true)">Restaurantes</mat-chip-option>
                            <mat-chip-option color="accent" (click)="change(true, false)">Productos</mat-chip-option>
                            <mat-chip-option (click)="change(true, true)" selected>Ambos</mat-chip-option>
                        </mat-chip-listbox>
                        
                        <input matInput type="text" [(ngModel)]="value"(keyup.enter)="search()">

                        <button id="search" mat-fab  color="primary" matSuffix type="submit" (click)="search()">
                            <mat-icon>search</mat-icon>
                        </button>

                        <button id="clear" *ngIf="value" matSuffix mat-icon-button (click)="value=''">
                            <mat-icon>close</mat-icon>
                        </button>

                    </mat-form-field>
            </td>
        </tr>
    </table>
</div>

<div *ngIf="searchR.length > 0">
    <div class="container">
        <h2>Restaurantes encontrados: [{{searchR.length}}]</h2>
        <div *ngFor="let item of searchR">
                <h3 class="title">{{item.name}}</h3>
            <a routerLink="/display_restaurant" (ngModel)="item._id" (click)="setRestaurant(item._id)">
                <img src="{{item.image}}" width="80%">
            </a>
        </div>
    </div>
</div>

<div *ngIf="searchP.length > 0">
    <div class="container">
        <h2>Productos encontrados: [{{searchP.length}}]</h2>
        <div *ngFor="let item of searchP; let i = index;">
            <mat-card  class="example-card container">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src={{displayR[i].image}} width="50px"></div>
                    <mat-card-title>{{item.Name}}</mat-card-title>
                    <mat-card-subtitle>{{displayR[i].name}}</mat-card-subtitle>
                </mat-card-header>
            
                <img mat-card-image class="banner" src={{item.Image}}>
                
                <mat-card-content>
                    <br>
                    <p>
                        {{item.Description}}
                    </p>
                </mat-card-content>
            
                <br> 
                 
                <mat-card-actions>
                    <h3>Precio: ${{item.Price}}</h3>
                    <span class="spacer"></span>
                    <button mat-raised-button color="accent" id="b-green" (ngModel)="displayR[i].id" (click)="setRestaurant(displayR[i].id)">
                        <mat-icon>restaurant</mat-icon>Ir al restaurant
                    </button>
                </mat-card-actions>
            </mat-card>
    
            <br>
            <br>
        </div>
    </div>
</div>

<table id="categoriesDisplay" width="80%">
    <tr>
        <td >
            <h2>Mexicana</h2>
            <a routerLink="/view_restaurants" (click)="setType('Mexicana')"><img src="../../../assets/images/mexicana.jpg" class="catgegoryContainer"></a>
        </td>
        <td >
            <h2>Italiana</h2>
            <a routerLink="/view_restaurants" (click)="setType('Italiana')"><img src="../../../assets/images/italiana.jpg" width="80%"></a>
        </td>
        <td >
            <h2>Oriental</h2>
            <a routerLink="/view_restaurants" (click)="setType('Oriental')"><img src="../../../assets/images/oriental.jpg" width="80%"></a>
        </td>
    </tr>
    <br>
    <br>
    <tr>
        <td>
            <h2>Mariscos</h2>
            <a routerLink="/view_restaurants" (click)="setType('Mariscos')"><img src="../../../assets/images/mariscos.jpg" width="80%"></a>
        </td>
        <td>
            <h2>Fit</h2>
            <a routerLink="/view_restaurants" (click)="setType('Fit')"><img src="../../../assets/images/fit.jpg" width="80%"></a>
        </td>
        <td>
            <h2>Comida Rápida</h2>
            <a routerLink="/view_restaurants" (click)="setType('Rapida')"><img src="../../../assets/images/rapida.jpg" width="80%"></a>
        </td>
    </tr>
</table>