table {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

td {
    text-align: center;
}

h2 {
    font-size: 35px;
    font-family: monospace;
    color:rgb(3, 3, 104);
}

h1 {
    font-size: 70px;
    text-align: center;
    margin-top: 10%;
}