@import "../../app.component.scss";

table {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}



h2 {
    font-size: 35px;
    font-family: monospace;
    color:rgb(3, 3, 104);
}

td {
    text-align: center;
    > h2{

        @include tercerBreakpoint{
            font-size: 22px;
        }
        @include cuartoBreakpoint{
            font-size: 20px;
        }
    }
}

h1 {
    font-size: 70px;
    text-align: center;
    margin-top: 10%;
    line-height: 70px;
}

h3.title {
    font-size: 25px;
    font-family: monospace;
    color:rgb(3, 3, 104);
}

mat-form-field {
    width: 100%;
}

.container {
    margin-left: 6%;
    margin-right: 6%;
    width: 88%;
    margin-top: 5%;
}

.container > div {
    width: 25%;
    margin-right: 6%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    @include segundoBreakpoint{
        width: 30%;
    }
    @include tercerBreakpoint{
        width: 45%;
    }
    @include cuartoBreakpoint{
        width: 60%;
    }
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

#search {
    margin-right: 2%;
}

#center {
    width: 80%;
    margin: auto;
}

.catgegoryContainer{
        width: 80%;  
}

.spacer {
    flex: 1 1 auto;
}