<div id="box" >
    <h1>Reseñas para<br>{{user.name}}</h1>
    <h2 *ngIf="!areReviews">No hay reseñas aún</h2>
    <div *ngIf="areReviews">
        <div *ngFor="let item of myRatingsT">
            <div class="reviewCard">
                <br>
                <h2>De: {{item.name}}<br>{{item.email}}</h2>
                <img src="{{item.image}}" class="user" alt="image">
                <br>
                <br>
                <h3>Detalles de la Orden:</h3>
                            <div class="horizontal" *ngFor="let product of item.products">
                                <h4>{{product.Name}}</h4>
                                <img src="{{product.Image}}" alt="pimage">
                                <h4>${{product.Price}}</h4>
                                <h4>Cantidad: {{product.Quantity}}</h4>
                            </div>
                <h4>Total: ${{item.total}}</h4>
                <br>
                <br>
                <h3>Puntaje:</h3>
                <button *ngFor="let index of ratingArr;index as i" class="starsButton" mat-icon-button disabled>
                    <mat-icon *ngIf="showStar(i, item.rating)" class="stars" color="primary">
                        star
                    </mat-icon>
                </button>
                <br>
                <br>
                <h3>Dice:</h3>
                <h4>{{item.description}}</h4>
                <br>
            </div>
            <br><br>
        </div>
    </div>

    <br>

    <a routerLink="/">
        <button mat-fab extended id="buttonBack" color="accent">
            <mat-icon>arrow_back_ios_new</mat-icon>Volver
        </button>
    </a>
   
    
</div>