<mat-toolbar color="accent">
    <a routerLink="/"><img src="../../../assets/images/logo.png"></a>
    <span id="appName">&nbsp;Fila Remota</span>
    <span class="spacer"></span>
    <div *ngIf="!flagLogin">
        <a routerLink="/login">
            <button class="noLogButton"  mat-fab extended color="primary">
                <mat-icon>login</mat-icon>Iniciar sesión
            </button>
        </a>
        &nbsp;
        <a routerLink="/createuser">
            <button class="noLogButton" mat-fab extended color="primary">
                <mat-icon>person_add</mat-icon>Crear cuenta
            </button>
        </a>
    </div>

    <div *ngIf="flagLogin">
        <button id="menu" mat-fab extended color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <table>
                <tr>
                    <td>
                        <mat-icon>arrow_drop_down</mat-icon>
                        &nbsp;
                        <img id="user_image" src="{{image}}"> 
                    </td>
                    <td>
                        <label>&nbsp;{{email}}</label>
                    </td>
                </tr>
            </table>
        </button>
        <mat-menu #menu="matMenu">
            <a class="submenu" routerLink="/update_user">
                <button mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Actualizar</span>
                </button>
            </a>
            <a class="submenu" routerLink="/paymenu">
            <button mat-menu-item>
                <mat-icon>credit_cardl</mat-icon>
                <span>Formas de pago</span>
            </button>
            </a>
            <a class="submenu" routerLink="/chatSelect">
                <button mat-menu-item>
                    <mat-icon>chat</mat-icon>
                    <span>Chats</span>
                </button>
            </a>
            <a class="submenu" routerLink="/restaurant_products">
                <button mat-menu-item *ngIf="type">
                    <mat-icon>lunch_dining</mat-icon>
                    <span>Productos</span>
                </button>
            </a>
            <a class="submenu" routerLink="/restaurant_orders">
                <button mat-menu-item *ngIf="type">
                    <mat-icon>receipt_long</mat-icon>
                    <span>Ordenes</span>
                </button>
            </a>
            <a class="submenu" routerLink="/deleteuser">
                <button mat-menu-item>
                    <mat-icon>delete_forever</mat-icon>
                    <span>Borrar cuenta</span>
                </button>
            </a>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Cerrar sesión</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>