@import "../../app.component.scss";

.spacer {
    flex: 1 1 auto;
}

img {
    height: 50px;
}

a {
    text-decoration: none;
}

.submenu {
    
    color: black;
}

#user_image {
    height: 30px;
}

#appName{
    @include tercerBreakpoint{
        font-size: 16px;
    }
}

#menu{
    @include tercerBreakpoint{
        width: 250px;
    }
}

.noLogButton{
    @include cuartoBreakpoint{
        width: 120px;
        font-size: 12px;
    }
}