@import "../../app.component.scss";

#box{
    width: 33%;
    margin: auto;
    @include primerBreakpoint{
        width: 500px;
    }
    @include segundoBreakpoint{
        width: 500px;
    }
    @include tercerBreakpoint{
        width: 400px;
    }
    @include cuartoBreakpoint{
        width: 300px;
    }
}

mat-form-field{
    width: 100%;
}

a{
    text-decoration: none;
}

button{
    margin-bottom: 15px;
    font-size: 28px;
}

h1{
    font-size: 32px;
}

h3{
    font-size: 24px;
}

p{
    font-size: 22px;
}