<h1 *ngIf="!isLogged">SIN PERMISOS</h1>
<div id="box" *ngIf="isLogged">
    <h1>Borrar Tarjeta Número:<br><br>[{{card[0].Number}}]</h1>

    <form [formGroup]="formDelete">

        <h3>Entiendo que mi Cuenta sera eliminada PARA SIEMPRE</h3>
        <mat-checkbox id="ver"  formControlName="check">Entiendo</mat-checkbox>
        <br><br>
    </form>

    <button mat-fab extended id="buttonDelete" color="warn" (click)="checkDelete()">
        <mat-icon>delete</mat-icon>Borrar Tarjeta
    </button>
    &nbsp;
    <a routerLink="/paymenu">
        <button mat-fab extended color="accent" >
            <mat-icon>chevron_left</mat-icon>Cancelar
        </button>
    </a>
</div>