@import "../../app.component.scss";

h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    color:rgb(3, 3, 104);
    margin-left: 37.5%;
}

p, h4 {
    text-align: justify;
}

h3 {
    font-size: 20px;
    margin-left: 10%;
    margin-top: 28px;
}

mat-card {
    width: 25%;
    margin: auto;
    overflow-wrap: break-word;
    @include primerBreakpoint{
        width: 40%;
    }
    @include segundoBreakpoint{
        width: 60%;
    }
    @include tercerBreakpoint{
        width: 80%;
    }
    @include cuartoBreakpoint{
        width: 90%;
    }
}

.margins {
    margin-right: 6%;
}

.banner {
    background-color: rgba(156, 195, 225, 0.45);
}

.spacer {
    flex: 1 1 auto;
}

.center {
    text-align: center;
}

.b-green {
    background-color: rgb(0, 183, 74);
    color:white;
    margin-right: 3%;
}

.b-accent {
    margin-right: 12%;
}

.align-b {
    margin-left: 37.5%;
}

.b-down-accent {
    margin-left: 10%;
}

#container{
    margin: auto;
    text-align: center;
    @include primerBreakpoint{
        width: 500px;
    }
    @include tercerBreakpoint{
        width: 400px;
    }
    @include cuartoBreakpoint{
        width: 300px;
    }
}

button{
    margin-bottom: 15px;

}