#general{
    width: 30%;
    margin: auto;
}

mat-form-field{
    width: 100%;
}

a{
    text-decoration: none;
}


h1{
    font-size: 36px;
    text-align: center;
}

h3{
    font-size: 24px;
}

button{
    font-size: 24px
}

#buttonCreate{
    @extend button;
    background-color: rgb(0, 183, 74);
    color: white;

}

#buttonBack{
    @extend button;
}

#typeContainer{
    width: 30%;
}