
<div id="general" >
    <h1>Añada una nueva Tarjeta</h1>
    <form [formGroup]="cardForm">

        <h3>Eliga un tipo de tarjeta:</h3>
        <div id="typeContainer">
            <mat-selection-list #type [multiple]="false">
                <mat-list-option selected (click) = "typeDebito()">
                    Debito
                </mat-list-option>
                <mat-list-option    (click) = "typeCredito()">
                    Credito
                </mat-list-option>
            </mat-selection-list>
        </div>

        <br><br>

        <h3>Llene el siguiente formulario (TODOS los campos son OBLIGATORIOS)</h3>
        <mat-form-field>
            <mat-label>Número de Tarjeta</mat-label>
            <input matInput name="number" type="text" minlength="16" maxlength="16" formControlName="number">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
            <mat-label>Mes de Vencimiento</mat-label>
            <input matInput name="month" type="number" min="1" max="12" formControlName="month">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>Año de Vencimiento</mat-label>
            <input matInput name="year" type="number" min="24" max="99" formControlName="year">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>

        <button mat-fab extended id="buttonCreate" (click)="checkForm()">
            <mat-icon>add_circle</mat-icon>Añadir Tarjeta
        </button>
        &nbsp;
    </form>

    <br><br>

        <button mat-fab extended id="buttonBack" color="accent" (click)="goBack()">
            <mat-icon>arrow_back_ios_new</mat-icon>Volver
        </button>
    
</div>