@import "../../app.component.scss";

table {
    margin-left: 6%;
    margin-right: 6%;
    @include segundoBreakpoint{
        margin-left: 2%;
        margin-right: 2%
    }
    @include tercerBreakpoint{
        margin-left: 0;
        margin-right: 0;
    }
}

h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    color:rgb(3, 3, 104);
    @include tercerBreakpoint{
        font-size: 24px;
    }
    @include cuartoBreakpoint{
        font-size: 20px;
    }
}

h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;

}

p, h4 {
    text-align: justify;
    @include tercerBreakpoint{
        font-size: 15px;
    }
}


h3.review {
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.01%;
}

h3{
    margin-left: 10%;
}

.banner {
    background-color: rgba(156, 195, 225, 0.45);
    width: 88%;
    @include tercerBreakpoint{
        width: 100%;
    }
    
}

button{
    width: 150px;
    @include segundoBreakpoint{
        font-size: 12px;
        width: 130px;
    }
    @include cuartoBreakpoint{
        width: 60px;
    }
}

#restaurantImg {
    width: 350px;
    border-radius: 50%;
    @include tercerBreakpoint{
        width: 180px;
    }
    @include cuartoBreakpoint{
        width: 150px;
    }
}

#innerData{
    width: 200px;
}



.container {
    margin-left: 6%;
    margin-right: 6%;
    width: 88%;
}

.container > div {
    width: 25%;
    margin-right: 6%;
    float: left;
    box-sizing: border-box;
    @include segundoBreakpoint{
        width: 30%;
    }
    @include tercerBreakpoint{
        width: 45%;
    }
    @include cuartoBreakpoint{
        width: 60%;
    }
}

.container::after {
    content: "";
    display: table;
    clear: both;
}


.spacer {
    flex: 1 1 auto;
}


#buttonChat {
    background-color: rgb(3, 3, 104);
}

#b-green {
    background-color: rgb(0, 183, 74);
    color:white;
    width: 150px;
}

#margin {
    margin-left: 6%;
}

.stars{
    height: 32px;
    width: 32px;
    font-size: 32px;
}

#rating{
    vertical-align: middle;
    width: 100%;
}