table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
  }

table{
    width: 100%;
    height: 100%;
}

#chat{
    width: 80%;
    height: 700px;
    background-color: white;   
}

#scrollDiv{
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

#menu{
    background-color: rgba(156, 195, 225, 0.45);;
}

#message{
    background-color: rgb(3, 3, 104);
    height: 30%;
}



mat-form-field{
    margin-left: 5%;
    justify-content: center;
    width: 70%;
    
}



#menu{
    text-align: center;
}

h3{
    font-size: 28px;
    font-weight: bolder;
}


#heightAdjust{
    margin-bottom: 60%;
}

#back{
    width: 50%;
    margin: 25%;
}

.messageDisplay{
    border-radius: 15px;
    background-color: #ffc814;
    width: 35%;
}

p{
    margin-top: 5px;
    margin-left: 3%;
    font-size: 18px;
}

.dateDisplay{
    font-size: 14px;   
}


ul{
    list-style-type: none;
}

.container{
    width: 100%;
    >.messageDisplay{
        float: left;
    }
    > .positionUser{
        float: right;
    }
    
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

#buttonPos{
    margin-top: 5px;
}

#messageField{
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

#send{
    @extend #messageField;
    height: 60px;
    width: 60px;
    margin-left: 1%;
}

#sendIcon{
    font-size: 25px;
}

img{
    height: 80px;
}

