<div id="general" >
    <h1>Modificando la Tarjeta<br><br>[{{card[0].Number}}]</h1>
    <form [formGroup]="updateForm">

        <h3>Elija un tipo de tarjeta:</h3>
        
        <div id="typeContainer">
            <mat-selection-list #type [multiple]="false">
                <mat-list-option selected (click) = "typeDebito()">
                    Débito
                </mat-list-option>
                <mat-list-option    (click) = "typeCredito()">
                    Crédito
                </mat-list-option>
            </mat-selection-list>
        </div>

        <br><br>
        <h3>Los campos que no tengan contenido no se actualizarán</h3>
        <mat-form-field>
            <mat-label>Número de Tarjeta</mat-label>
            <input matInput name="number" type="text" minlength="16" maxlength="16" formControlName="number">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
            <mat-label>Mes de Vencimiento</mat-label>
            <input matInput name="month" type="number" min="1" max="12" formControlName="month">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>Año de Vencimiento</mat-label>
            <input matInput name="year" type="number" min="24" max="99" formControlName="year">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>

        
        
    </form>

    <button mat-fab extended color="primary" id="buttonUpdate" (click)="checkForm()">
        <mat-icon>upgrade</mat-icon>Actualizar Tarjeta
    </button>
    &nbsp;

    <a routerLink="/paymenu">
        <button mat-fab extended color="accent" id="buttonBack">
            <mat-icon>chevron_left</mat-icon>Volver
        </button>
    </a>
</div>