@import "../../app.component.scss";

div {
    width: 30%;
    margin: auto;
    margin-top: 2%;
    @include primerBreakpoint{
        width: 500px;
    }
    @include tercerBreakpoint{
        width: 400px;
    }
    @include cuartoBreakpoint{
        width: 300px;
    }
}

h1 {
    font-size: 36px;
    font-family: monospace;
    color:rgb(3, 3, 104);
}

h2 {
    font-family: monospace;
    font-weight: bold;
}

h3 {
    font-family: monospace;
}

mat-form-field {
    width: 100%;
}

.b-blue {
    background-color: rgb(0, 123, 255);
    color: white;
}

button{
    margin-top: 15px;
}