<form [formGroup]="formLogin">
    <mat-form-field>
        <mat-label>Correo</mat-label>
        <input matInput name="email" type="email" placeholder="Escriba su email" formControlName="email">
        <mat-error>Este campo es requerido</mat-error>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput name="password" type="password" placeholder="Escriba su contraseña" formControlName="password">
        <mat-error>Este campo es requerido</mat-error>
    </mat-form-field>

    <p>No tienes una cuenta? <a routerLink="createuser">Creala aquí</a></p>

    <button mat-flat-button color="primary" (click)="readLogin()">
        Iniciar sesión
    </button>
    &nbsp;
    <a routerLink="/">
        <button mat-flat-button color="warn">
            Cerrar
        </button>
    </a>
</form>