<div id="box">
    <h1>Iniciar Sesión</h1>
    <br>

    <form [formGroup]="formLogin">
        <mat-form-field>
            <mat-label>Correo</mat-label>
            <input matInput name="email" type="email" placeholder="Escriba su email" formControlName="email">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput name="password" type="password" placeholder="Escriba su contraseña"
                formControlName="password">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>
        <p>No tienes una cuenta? <a routerLink="/createuser">Creala aquí</a></p>
        <br>
        <button mat-fab extended color="primary" (click)="validateLogin()">
            <mat-icon>login</mat-icon>Iniciar sesión
        </button>
        &nbsp;
        <a routerLink="/">
            <button mat-fab extended color="accent">
                <mat-icon>arrow_back_ios_new</mat-icon>Volver
            </button>
        </a>
    </form>




</div>