@import "../../app.component.scss";

div {
    width: 30%;
    margin: auto;
    margin-top: 2%;
    @include primerBreakpoint{
        width: 30%;
    }
    @include tercerBreakpoint{
        width: 50%;
    }
    @include cuartoBreakpoint{
        width: 50%;
    }
}

h1 {
    font-size: 36px;
    font-family: monospace;
    color:rgb(3, 3, 104);
}

h3.mono {
    font-family: monospace;
}

mat-form-field {
    width: 100%;
}

mat-card-header {
    width: 40%;
}

p, h4 {
    text-align: justify;
}

h3.price {
    margin-left: 10%;
}

.banner {
    background-color: rgba(156, 195, 225, 0.45);
}

button{
    margin-top: 15px;
}