@import "../../app.component.scss";

div {
    width: 30%;
    margin: auto;
    @include primerBreakpoint{
        width: 500px;
    }
    @include tercerBreakpoint{
        width: 400px;
    }
    @include cuartoBreakpoint{
        width: 300px;
    }
}

mat-form-field {
    width: 100%;
}

mat-card-header {
    width: 40%;
}

p, h4 {
    text-align: justify;
}

h3.price {
    margin-left: 10%;
}

.banner {
    background-color: rgba(156, 195, 225, 0.45);
}

button{
    margin-top: 15px;
}