<div *ngFor="let item of hashmap | keyvalue; let i = index">
    <h1>Orden: [{{i + 1}}]</h1>
    <h2>Estado: {{item.value.status}}</h2>
    <h2 class="products">Productos:</h2>
    <div class="container">
        <div *ngFor="let p of item.value.products">
            <mat-card  class="example-card container">
                <mat-card-header>
                    <mat-card-title>{{p.product.Name}}</mat-card-title>
                    <mat-card-subtitle>{{rName}}</mat-card-subtitle>
                </mat-card-header>
                <br>
            
                <img mat-card-image class="banner" src={{p.product.Image}}>
            
                <br> 
                    
                <mat-card-actions>
                    <h3 class="price">Cantidad: {{p.quantity}}</h3>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <br>
    <br>

    <mat-stepper *ngIf="item.value.status !='rechazada'" labelPosition="bottom" #stepper>
        <ng-template matStepperIcon="edit">
            <mat-icon>done</mat-icon>
        </ng-template>
        
        <!-- <mat-step [aria-labelledby]="item.value.status != 'creada' ? 'disabled' : ''"> -->
        <mat-step aria-labelledby="disabled">
            <ng-template matStepLabel>Aceptar orden</ng-template>
            <button mat-button id="b-green" matStepperNext (ngModel)="item.key" (click)="aceptOrder(item.key)">Aceptar</button>
            <button mat-button id="b-warn" (ngModel)="item.key" (click)="refuseOrder(item.key)">Rechazar</button>
            <button mat-button id="{{item.key}}_aceptada" matStepperNext></button>
        </mat-step>
        <!-- <mat-step [aria-labelledby]="item.value.status != 'aceptada' ? 'disabled' : ''"> -->
        <mat-step aria-labelledby="disabled">
            <ng-template matStepLabel>Preparar orden</ng-template>
            <button id="b-orden-2" mat-button matStepperNext (ngModel)="item.key" (click)="readyOrder(item.key)">Orden lista</button>
            <button mat-button id="{{item.key}}_lista" matStepperNext></button>
        </mat-step>
        <!-- <mat-step [aria-labelledby]="item.value.status != 'lista' ? 'disabled' : ''"> -->
        <mat-step aria-labelledby="disabled">
            <ng-template matStepLabel>Entregar orden</ng-template>
            <button id="b-orden-3" mat-button matStepperNext (ngModel)="item.key" (click)="finishOrder(item.key)">Orden finalizada</button>
            <button mat-button id="{{item.key}}_finalizada" matStepperNext></button>
        </mat-step>
        <mat-step aria-labelledby="disabled">
            <ng-template matStepLabel>Orden finalizada</ng-template>
        </mat-step>
    </mat-stepper>
    
    <br>
    <br>
    <br>
    <br>
    <br>

</div>