<div>
    <h1>Crea tu cuenta</h1>
    <form *ngIf="type == 'Cliente'" [formGroup]="userForm">
        <h3>Eliga un tipo de cuenta:</h3>

        <mat-selection-list #type [multiple]="false">
            <mat-list-option selected (click)="typeCliente()">
                Cliente
            </mat-list-option>
            <mat-list-option (click)="typeRestaurant()">
                Restaurante
            </mat-list-option>
        </mat-selection-list>
        <br>
        <br>


        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput name="name" type="text" placeholder="Escriba su Nombre" formControlName="name">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
            <mat-label>Correo</mat-label>
            <input matInput name="email" type="email" placeholder="Escriba su email" formControlName="email">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput name="password" type="password" placeholder="Escriba su contraseña" formControlName="pass1">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
            <mat-label>Repita su Contraseña</mat-label>
            <input matInput name="passwordR" type="password" placeholder="Repita su contraseña" formControlName="pass2">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>

        &nbsp;
        <button mat-fab extended color="primary" (click)="checkForm(userForm)">
            <mat-icon>add_circle</mat-icon>Crear Cuenta
        </button>
        &nbsp;
        <a routerLink="/">
            <button mat-fab extended color="warn">
                <mat-icon>arrow_back_ios_new</mat-icon>Volver
            </button>
        </a>
    </form>

    <form *ngIf="type == 'Restaurante'" [formGroup]="restaurantForm">
        <h3>Eliga un tipo de cuenta:</h3>
        <mat-selection-list #type [multiple]="false">
            <mat-list-option (click)="typeCliente()">
                Cliente
            </mat-list-option>
            <mat-list-option selected (click)="typeRestaurant()">
                Restaurante
            </mat-list-option>
        </mat-selection-list>
        <br>
        <br>

        <mat-form-field>
            <mat-label>Nombre de usuario</mat-label>
            <input matInput name="name" type="text" placeholder="Escriba su Nombre" formControlName="name">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
            <mat-label>Correo</mat-label>
            <input matInput name="email" type="email" placeholder="Escriba su email" formControlName="email">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput name="password" type="password" placeholder="Escriba su contraseña" formControlName="pass1">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
            <mat-label>Repita su Contraseña</mat-label>
            <input matInput name="passwordR" type="password" placeholder="Repita su contraseña" formControlName="pass2">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>


        <mat-form-field>
            <mat-label>Nombre del Restaurante</mat-label>
            <input matInput name="rName" type="text" placeholder="Escriba el nombre del restaurante"
                formControlName="restaurantName">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>

        <mat-form-field>
            <mat-label>Descripción del restaurante</mat-label>
            <input matInput name="descripcion" type="text" placeholder="Escriba el nombre del restaurante"
                formControlName="description">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>

        <mat-form-field appearance="fill">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="category">
                <mat-option value="Mexicana">Mexicana</mat-option>
                <mat-option value="Italiana">Italiana</mat-option>
                <mat-option value="Oriental">Oriental</mat-option>
                <mat-option value="Mariscos">Mariscos</mat-option>
                <mat-option value="Fit">Fit</mat-option>
                <mat-option value="Rapida">Comida Rápida</mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        <br>

        <mat-form-field>
            <mat-label>Ubicación</mat-label>
            <input matInput name="location" type="text" placeholder="Link de Google Maps" formControlName="location">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <br>
        <br>
        <br>

        &nbsp;
        <button mat-fab extended color="primary" (click)="checkForm(restaurantForm)">
            <mat-icon>add_circle</mat-icon>Crear Cuenta
        </button>
        &nbsp;
        <a routerLink="/">
            <button mat-fab extended color="warn">
                <mat-icon>arrow_back_ios_new</mat-icon>Volver
            </button>
        </a>

    </form>
    <br>
</div>