@import "../../app.component.scss";

div{
    width: 30%;
    margin: auto;
    margin-top: 3%;
    @include primerBreakpoint{
        width: 500px;
    }
    @include tercerBreakpoint{
        width: 400px;
    }
    @include cuartoBreakpoint{
        width: 300px;
    }
}

mat-form-field{
    width: 100%;
}

h1 {
    font-size: 36px;
    color:rgb(3, 3, 104);
}

a{
    text-decoration: none;
}

button{
    font-size: 24px;
    margin-bottom: 15px;
}