

<div class="general">
    <h1>Deja una Reseña!!</h1>

    <h2>Evaluando a -Aquí va el nombre del evaluado-</h2>
    <br><br><br>

    <h2>Puntuación</h2>

    <button *ngFor="let index of ratingArr;index as i" mat-fab matTooltip="Primary" color="primary" (click)="rate(i+1)">
        <mat-icon>
            {{showIcon(i)}}
        </mat-icon>
    </button>

    <br><br><br>
    <h2>Deja un Comentario:</h2>
    <form [formGroup]="review">
        <mat-form-field>
            <input matInput type="text" formControlName="comment">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
    </form>
    
    <br><br>
    <button mat-flat-button color="primary" (click)="checkReview()">
        Enviar Reseña
    </button>

</div>