<div id="general">
    <h1>Deja una Reseña!!</h1>

    <h3>Evaluando a {{nameR}}</h3>
    <br><br>

    <h2>Puntuación:</h2>

    <div class="centerObjects">
        <button class="starButton" *ngFor="let index of ratingArr;index as i" mat-icon-button  (click)="rate(i+1)">
            <mat-icon color="accent">
                {{showIcon(i)}}
            </mat-icon>
        </button>
    </div>
    

    <br><br><br>
    <h2>Deja un Comentario:</h2>
    <form [formGroup]="review">
        <mat-form-field>
            <input matInput type="text" formControlName="comment">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
    </form>
    
    <br><br>

    <div class="centerObjects">
        <button mat-fab extended color="primary" id="buttonEvaluate" (click)="checkReview()">
            Enviar Reseña<mat-icon>send</mat-icon>
        </button>
    </div>

</div>