@import "../../app.component.scss";

#box{
    width: 20%;
    margin: auto;
    text-align: center;
    @include primerBreakpoint{
        width: 500px;
    }
    @include tercerBreakpoint{
        width: 400px;
    }
    @include cuartoBreakpoint{
        width: 300px;
    }
}



a{
    text-decoration: none;
}


h1{
    font-size: 36px;
    text-align: center;
}

h2{
    font-size: 24;
}

.chatCard{
    border-radius: 15px;
    background-color: rgba(156, 195, 225, 0.45);
    border: solid 4px black;
}

.chatButton{
    margin-bottom: 10px;
}


img{
    height: 80px;
}