@import "../../app.component.scss";

div{
    width: 33%;
    margin: auto;
}

mat-form-field{
    width: 100%;
}


h1{
    font-size: 36px;
    font-family: monospace;
    color:rgb(3, 3, 104);
}

h2 {
    font-size: 24px;
    font-family: monospace;
    font-weight: bold;
}

#no-bold {
    font-weight: lighter;
}


button{
    font-size: 24px;
    @include primerBreakpoint{
        margin-bottom: 15px
    }
    @include segundoBreakpoint{
        margin-bottom: 15px;
    }
    @include tercerBreakpoint{
        font-size: 14px;
        margin-bottom: 15px;
    }
    @include cuartoBreakpoint{
        height: 70px;
        font-size: 14px;
        margin-bottom: 15px;
    }
}

div {
    margin-top: 2%;
}