<div >
    <h1>Borrando Cuenta</h1>
    <h2 id>Usuario: {{user.name}}</h2>
    <br>

    <form [formGroup]="formDelete">
        <mat-form-field>
        <input matInput name="pass" type="password" placeholder="Escriba su contraseña para borrar la Cuenta" formControlName="pass">
        <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>

        <h3>Al hacer click en Borrar Cuenta entiendo que mi Cuenta sera eliminada PARA SIEMPRE</h3>
        <mat-checkbox id="ver"  formControlName="check">Entiendo</mat-checkbox>
        <br><br>

        <button mat-fab extended color="warn" (click)="checkDelete()">
            <mat-icon>delete_forever</mat-icon>Borrar Cuenta
        </button>
        &nbsp;
        <a routerLink="/">
            <button mat-fab extended color="accent" >
                <mat-icon>chevron_left</mat-icon>Cancelar
            </button>
        </a>

    </form>
</div>