div{
    width: 33%;
    margin: auto;
}

mat-form-field{
    width: 100%;
}

a{
    text-decoration: none;
}

#ver{
    height: 22px;
    width: 22px;
}

p{
    font-size: 22px;
}

h1{
    font-size: 32px;
}

h3{
    font-size: 24px;
}

button{
    font-size: 24px
}