@import "../../app.component.scss";

div{
    width: 33%;
    margin: auto;
    margin-top: 2%;
}

h1 {
    font-size: 36px;
    color:rgb(3, 3, 104);
}

h2 {
    font-weight: bold;
}

mat-form-field{
    width: 100%;
}

a{
    text-decoration: none;
}

#ver{
    height: 22px;
    width: 22px;
}

p{
    font-size: 22px;
}

h1{
    font-size: 32px;
}

h3{
    font-size: 24px;
    @include tercerBreakpoint{
        font-size: 18px;
    }
    @include cuartoBreakpoint{
        font-size: 14px;
    }
    
}

button{
    font-size: 24px;
    margin-bottom: 15px;
    @include tercerBreakpoint{
        font-size: 15px;
    }
    @include cuartoBreakpoint{
        height: 60px;
        font-size: 15px;
    }
}