@import "../../app.component.scss";

h1 {
    font-size: 36px;
    color:rgb(3, 3, 104);
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

p, h4 {
    text-align: justify;
    overflow-wrap: break-word;
}

h3 {
    margin-left: 10%;
}

mat-card {
    width: 25%;
    margin: auto;
    @include primerBreakpoint{
        width: 30%;
    }
    @include tercerBreakpoint{
        width: 45%;
    }
    @include cuartoBreakpoint{
        width: 50%;
    }
}

.banner {
    background-color: rgba(156, 195, 225, 0.45);
}

.spacer {
    flex: 1 1 auto;
}

.b-blue {
    background-color: rgb(0, 123, 255);
    color: white;
}

.margins {
    margin-right: 10%;
}

.b-green {
    background-color: rgb(0, 183, 74);
    color:white;
    position: fixed;
    display: flex;
    margin-left: 75%;
    margin-top: 10%;
}