@import "../../app.component.scss";

#general{
    width: 30%;
    margin: auto;
    margin-top: 2%;
    @include primerBreakpoint{
        width: 500px;
    }
    @include tercerBreakpoint{
        width: 400px;
    }
    @include cuartoBreakpoint{
        width: 300px;
    }
}

mat-form-field{
    width: 100%;
}

a{
    text-decoration: none;
}


h1{
    font-size: 36px;
    line-height: 50px;
    color:rgb(3, 3, 104);
}

h3{
    font-size: 24;
}

button{
    font-size: 24px;
    margin-bottom: 15px;
}

#typeContainer{
    width: 30%;
}

