h1 {
    font-size: 50px;
    font-family: monospace;
    color:rgb(3, 3, 104);
}

.edit {
    vertical-align: middle;
}

::ng-deep.mat-step-header[aria-labelledby="disabled"] {
    pointer-events: none !important;
    cursor: not-allowed;
}

#aceptada, #lista, #finalizada {
    display: none;
}